/* <!---------------------------- General CSS --> */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  overflow-x: hidden;
}

/* <!---------------------------- Header section --> */

header {
  width: 100%;
  background: url(img/headerhome.jpg) no-repeat center center;
  background-size: cover;
  padding: 150px 20px;
}

#header_container {
  width: 60%;
  /* border: 2px solid black; */
}

#header_container #heading h1 {
  width: 80%;
  background-color: black;
  color: white;
  font-size: 16px;
  border: 1px solid black;
  text-align: center;
  margin: 200px auto 0px auto;
  letter-spacing: 0.2rem;
  padding: 10px;
}

#header_container #heading p {
  width: 50%;
  color: white;
  /* border: 2px solid black; */
  font-size: 14px;
  font-style: italic;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 5px 5px;
}

/* <!-------------------------- 2 Buttons section --> */

#header_container #buttons {
  width: 100%;
  /* border: 2px solid green; */
  padding: 10px;
  display: flex;
  justify-content: center;
}

header #header_container #buttons > #signup > button {
  color: white;
  background-color: green;
  padding: 10px 20px;
  border: 2px solid green;
  font-size: 14px;
  margin: 0px 10px;
  font-weight: bold;
  border-radius: 20px;
  outline: none;
  text-decoration: none;
}

header #header_container #buttons > #signup > button:hover {
  cursor: pointer;
  background: none;
  border: 2px solid white;
  color: white;
}

/* <!---------------------------- Last Sign in button section --> */

#header_container .secondp {
  width: 100%;
  color: white;
  /* border: 2px solid white;  */
  font-size: 14px;
  font-style: italic;
  margin: 10px auto 20px auto;
  text-align: center;
  padding: 5px 5px;
}

header #header_container #signin_button {
  width: 100%;
  /* border: 2px solid black; */
  text-align: center;
}

header #header_container #signin_button > button {
  color: white;
  background-color: rgb(214, 9, 9);
  padding: 10px 200px;
  border: 2px solid rgb(214, 9, 9);
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  outline: none;
  text-decoration: none;
}

#header_container #signin_button > button:hover {
  cursor: pointer;
  background: none;
  border: 2px solid white;
  color: white;
}

/*----------------------------- MEDIA QUERY */

@media only screen and (min-width: 500px) and (max-width: 1140px) {
  #header_container #buttons {
    display: flex;
    flex-direction: column;
  }
  #header_container #buttons > #signup {
    margin: 20px auto;
  }

  header #header_container #signin_button > button {
    padding: 10px 100px;
  }
}
